*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
  color: rgb(91, 1, 97);
}

h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #d3d1d1;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
}

button
{
  margin: 6px 0;
}

/* NAVBAR SECTION */
.navbar {
  background-color: #03081e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 10px 10px 10px rgba(91, 1, 97, 0.208);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #32CD32;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-weight: 900;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar_links:hover {
  color: #00ffee;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 40vh;
    z-index: -1;
    background: #131313;
  }

  .navbar_menu.active {
    background: #03081e;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 40vh;
    font-size: 1.6rem;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #fff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    text-align: center;
    padding: 10px;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}



/* HERO SECTION */
#hero {
  background-image: url("img/cyberhero.jpg");
  min-height: 90vh;
  /* width: 100%; */
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  text-align: center;
}

#hero h3 {
  color: #ffffff;
  font-size: 50px;
  font-family: Arial Black;
  margin: 0 10px;
}

#hero h4 {
  color: #00ff95;
  font-size: 30px;
  font-family: Arial Black;
  margin: 20px;
}

#hero h5 {
  font-size: 20px;
  margin-top: 5px;
  font-family: Arial;
  font-style: italic;
  color: #2bff00;
}

@media (max-width: 799px) {
  #hero {
    padding: 10px 20px;
  }
  #hero h3 {
    font-size: 40px;
  }
  #hero h4 {
    font-size: 20px;
  }
}

#hero button {
  background-color: green;
  font-weight: 900;
  color: #eaeaea;
  border: 0;
  padding: 12px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.4s;
}

#hero button:hover {
  background-color: transparent;
  color: #00ffee;
  box-shadow: 0 0 10px 0 rgba(0, 200, 255, 0.612);
}


.section-name
{
  font-family: Arial Black;
  color: #00ccff;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}


/* INTRO SECTION */
#intro
{
  padding: 10px 10%;
}
#intro p
{
  text-align: justify;
  padding: 0;
}


/* NECESSITY SECTION */
#necessity
{
  padding: 10px 10%;
}
#necessity p
{
  text-align: justify;
  padding: 0;
}




/* COURSE SECTION */
.course
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}


.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    /* background: #00316e; */
    border: 1px solid green;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 78, 99, 0.623);
}

@media(max-width: 700px)
{
    .row{
        flex-direction: column;
    }
}

.course-col h3
{
  font-weight: 800;
  color: #00ffee;
}


.course button {
  background-color: green;
  font-weight: 900;
  color: #eaeaea;
  border: 0;
  padding: 12px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.4s;
}

.course button:hover {
  background-color: transparent;
  color: #00ffee;
  box-shadow: 0 0 10px 0 rgba(0, 200, 255, 0.612);
}




/* COURSES SECTIONS */
.campus
{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.campus-col img
{
    width: 100%;

}

.layer{
    /* background: rgba(226,0,0,0.7); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3 ease;
}

.layer:hover{
    background: rgba(266,0,0,0.7);
}





/* FOOTER */
footer {
  padding: 30px 80px 5px 80px;
  display: flex;
  /* margin-top: 80px; */
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #dadbdb;
  background-image: url("footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-right: 10px;
  align-items: flex-start;
  max-width: 300px;
}

footer .follow {
  justify-content: center;
  align-items: center;
  max-width: 200px;
}

footer .follow a
{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}
.follow a:hover {
    color: #008392;
    font-weight: bold;
  }

.footer i
{
    color: #480202;
}

footer .campus-pastor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-right: 10px;
  align-items: flex-start;
}

footer .footer-heading
{
    font-weight: bold;
    font-family: Arial Black;
    font-size: 20px;
    color: white;
}

footer p {
  color: white;
  /* font-weight: bold; */
  margin: 0;
  padding: 0;
}

footer i {
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

footer img {
  margin-right: 10px;
}


@media (max-width: 799px) {
  footer {
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
  }
  footer div {
    width: 270px;
  }
}

.copy-right {
  font-size: 20px;
  font-weight: bold;
  /* margin-top: 30px; */
  color: green;
  margin: 0;
}

.copyright {
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}
